[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
	branch = 5d708c3
[submodule "external/luaJIT"]
	path = external/luaJIT
	url = https://github.com/luaJIT/luaJIT
	branch = v2.1
