[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
	branch = d69789d
[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/mashumafi/godot-cpp
	branch = patch-1
