name: ⚙️ Unit Tests
on:
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "**/*.md"
      - ".github/ISSUE_TEMPLATE/*"
  push:
    branches:
      - "main"
    paths-ignore:
      - "**/*.md"
      - ".github/ISSUE_TEMPLATE/*"

env:
  BASE_BRANCH: main
  SCONSFLAGS: debug_symbols=no
  SCONS_CACHE_LIMIT: 7168

jobs:
  unit-tests:
    runs-on: "ubuntu-20.04"
    timeout-minutes: 120
    name: Linux Unit Testing
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      # Install all packages except SCons
      - name: Configure dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential pkg-config libx11-dev libxcursor-dev \
            libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm
      - name: Load .scons_cache directory
        id: linux-unittests-cache
        uses: actions/cache@v2
        with:
          path: ${{github.workspace}}/.scons_cache/
          key: ${{github.job}}-${{env.BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{github.job}}-${{env.BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{github.job}}-${{env.BASE_BRANCH}}-${{github.ref}}
            ${{github.job}}-${{env.BASE_BRANCH}}
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"

      - name: Configuring Python packages
        run: |
          python -c "import sys; print(sys.version)"
          python -m pip install scons
          python --version
          scons --version
      - name: Compilation
        working-directory: ./scripts
        env:
          SCONS_CACHE: ${{github.workspace}}/.scons_cache/
        run: |
          scons platform=linuxbsd tools=yes target=editor
      - name: Prepare artifact
        run: |
          strip scripts/godot/bin/godot.*
          chmod +x scripts/godot/bin/godot.*
      - name: Unit Testing
        run: |
          /bin/bash -e ./scripts/run_tests.sh
        if: ${{ always() }}
        with:
          name: ${{github.job}}
          path: report.txt